@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideLogo {
  0% {
    left: 50%;

    top: 50%;

    /* transform: translate(10%, 750%); */
  }

  100% {
    left: 4%;
    top: 4%;
    /* transform: translate(-50%, 40%); */
  }
}

.mobile-logo {
  position: absolute;
  /* top: 0.8rem; */
  /* left: 2.5rem; */

  /* width: fit-content; */
  /* height: fit-content; */
}

.mobile-height {
  height: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1024px) {
  .mobile-height {
    height: calc(100vh - 80px) !important;
    overflow-x: hidden;
  }
}

.equal-spacing {
  /* display: inline-block; */
  white-space: nowrap;
  letter-spacing: calc(100% - 1rem);
}
